{% extends "layout.html" %} {% block title %} Login {% endblock %} {% block content %}
<section>
    <form method="POST" class="w3-content w3-center">
        <div class="form-item">
            <label for="username"> Username : <input type="email" name="username" id="username"> </label>
        </div>
        <div class="form-item">
            <label for="password"> Password : <input type="password" name="password" id="password">
        </div>
        <div class="form-item">
            <label for="remember"> Remember Me : <input type="checkbox" name="remember" id="remember" checked="checked">
        </div>
        <div class="form-item">
            <input type="submit" class="w3-btn w3-green" value="Login">
        </div>
    </form>
</section>
{% endblock %}