<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        {% block title %} {% endblock %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
        html,
        body {
            height: 100%;
        }
        
        body {
            position: relative;
        }
        
        body>header {
            height: 150px;
        }
        
        main {
            min-height: 70%;
        }
        .form-center {
            width: 90%;
            margin: 0px 5%;
        }
    </style>
</head>

<body>
    <header class="w3-container w3-teal">
        <div class="w3-rest">
            <h1>Full-Stack Blog</h1>
            <h5>The Blog for Full-Stack Developers</h5>
        </div>
        {% block header %} {% endblock %}
    </header>
    <main class="w3-panel">
        {% block content %} {% endblock %}
    </main>
    <footer class="w3-container w3-padding w3-teal w3-center"><small>Copyright&copy; 2017</small>{% block footer %} {% endblock %}</footer>
</body>

</html>