{% extends "layout.html" %} {% block title %} Post - {{post.title}} {% endblock %} {% block content %}
<section class="w3-content">
    <article class="w3-card-4">
        <header class="w3-container w3-padding w3-teal">
            <h2>{{post.title}}</h2>
        </header>
        <section class="w3-panel">
            <pre>{{post.content}}</pre>
        </section>
        <footer class="w3-container w3-padding w3-teal">
            {% if belongs_to_user %}
            <div class="w3-right">
                <a href="/posts/{{post.key().id()}}/edit" class="w3-btn w3-green">Edit</a>
                <a href="/posts/{{post.key().id()}}/delete" class="w3-btn w3-red">Delete</a>
            </div> {% else %}
            <form method="POST">
             {% if post.likes %}
             {{post.likes}} Likes
             {% endif %}
            <input type="submit" value="Like" class="w3-btn w3-green"></form> {% endif %}
        </footer>
    </article>
    <section class="w3-panel">
        <form action="/posts/{{post.key().id()}}/comment" method="POST">
           <label for="comment"> Add a comment</label>
            <textarea class="w3-input w3-text-teal" name="comment" id="comment"  > 
       </textarea>
            <input type="submit" value="Post" class="w3-btn w3-teal w3-margin">
        </form>
    </section>
    <section class="w3-text-teal">
        <section class="w3-padding w3-teal"></section>
        <h3>Comments</h3>
        {% for comment in post.comments %}
        <article class="w3-border-top">
            <header></header>
            <p>{{comment}}</p>
        </article>
        {% endfor %}
    </section>
</section>
{% endblock %}